<template>
  <div class="page-container vue-ui-dark-mode">
        <div class="page-title-bar">
            <h2><i class="material-icons menu-icon">settings_applications</i> Configuration</h2>
        </div>
        <div class="page-content">
            <h3>Configurate server</h3>
            <VueFormField title="Authorization endpoint">
                <VueInput placeholder="Authorization endpoint" v-model.lazy="authorizationEndpoint"/>
            </VueFormField>
            <VueFormField title="Token endpoint">
                <VueInput placeholder="Token endpoint" v-model.lazy="tokenEndpoint"/>
            </VueFormField>
            <VueFormField title="Introspect endpoint">
                <VueInput placeholder="Introspect endpoint" v-model.lazy="introspectEndpoint"/>
            </VueFormField>
            <VueFormField title="Revoke endpoint">
                <VueInput placeholder="Revoke endpoint" v-model.lazy="revokeEndpoint"/>
            </VueFormField>

            <h3>Grant type configuration</h3>
            <p>
                <VueSwitch class="right" v-model="authorizationCodeGrant">
                    Authorization code grant
                </VueSwitch>
            </p>
            <p>
                <VueSwitch class="right" v-model="implicitGrant">
                    Implicit grant
                </VueSwitch>
            </p>
            <p>
                <VueSwitch class="right" v-model="clientCredentialsGrant">
                    Client credentials grant
                </VueSwitch>
            </p>
            <p>
                <VueSwitch class="right" v-model="resourceOwnerPasswordCredentialsGrant">
                    Resource owner password crentials grant
                </VueSwitch>
            </p>

            <h3>Clients</h3>
            <div class="client" v-for="(client, i) in clients" :key="i">
                <fieldset class="client__form">
                    <VueFormField title="Client ID">
                        <VueInput placeholder="Client ID" :value="client.clientID" @input="v => setClientID(i, v)"/>
                    </VueFormField>
                    <VueFormField title="Client Secret">
                        <VueInput icon-right="lock" type="password" placeholder="Client Secret" :value="client.clientSecret" @input="v => setClientSecret(i, v)"/>
                    </VueFormField>
                </fieldset>
                <button class="client__delete" @click="deleteClient(client)">
                    <i class="material-icons menu-icon">delete</i>
                </button>
            </div>
            <button class="add-client" @click="addEmptyClient">Ajouter un client</button>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    methods: {
        ...mapActions('scannerConfig', [
            'addEmptyClient',
            'deleteClient'
        ]),
        // Clients
        setClientID(index, clientID){
            this.$store.commit('scannerConfig/SET_CLIENT_ID',  {index, clientID })
        },
        setClientSecret(index, clientSecret){
            this.$store.commit('scannerConfig/SET_CLIENT_SECRET', { index, clientSecret })
        }
    },
    computed: {
        ...mapState({
            config: state => state.scannerConfig,
            clients: state => state.scannerConfig.clients
        }),
        // Endpoints
        authorizationEndpoint: {
            get(){ return this.config.authorizationEndpoint },
            set(endpoint){ this.$store.commit('scannerConfig/SET_AUTHORIZATION_ENDPOINT', endpoint) }
        },
        tokenEndpoint: {
            get(){ return this.config.tokenEndpoint },
            set(endpoint){ this.$store.commit('scannerConfig/SET_TOKEN_ENDPOINT', endpoint) }
        },
        introspectEndpoint: {
            get(){ return this.config.introspectEndpoint },
            set(endpoint){ this.$store.commit('scannerConfig/SET_INTROSPECT_ENDPOINT', endpoint) }
        },
        revokeEndpoint: {
            get(){ return this.config.revokeEndpoint },
            set(endpoint){ this.$store.commit('scannerConfig/SET_REVOKE_ENDPOINT', endpoint) }
        },
        // Grant type
        authorizationCodeGrant: {
            get(){ return this.config.authorizationCodeGrant },
            set(b){ this.$store.commit('scannerConfig/SET_AUTHORIZATION_CODE_GRANT', b) }
        },
        implicitGrant: {
            get(){ return this.config.implicitGrant },
            set(b){ this.$store.commit('scannerConfig/SET_IMPLICIT_GRANT', b) }
        },
        clientCredentialsGrant: {
            get(){ return this.config.clientCredentialsGrant },
            set(b){ this.$store.commit('scannerConfig/SET_CLIENT_CREDENTIALS_GRANT', b) }
        },
        resourceOwnerPasswordCredentialsGrant: {
            get(){ return this.config.resourceOwnerPasswordCredentialsGrant },
            set(b){ this.$store.commit('scannerConfig/SET_RESOURCE_OWNER_PASSWORD_CREDENTIALS_GRANT', b) }
        }
    }
}
</script>


<style scoped>

.add-client{
    width: 100%;
    padding: 6px 0;
    margin-bottom: 10px;
    background: transparent;
    text-align: center;
    font-size: 16px;
    color: #42B983;
    border: 1px solid #42B983;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.add-client:hover{
    background-color: #42B983;
    color: #fff;
}

.client{
    display: flex;
    margin: 8px 0;
}

.client__form{
    flex: 1;
    margin: 0;
    padding: 12px 14px;
    border: 2px solid #2c3e50;
}

.client__delete{
    flex-basis: 40px;
    background-color: #2C3E50;
    border: none;
    cursor: pointer;
}

.client__delete i{
    color: #344A5F;
    transition: color 0.2s;
}

.client__delete:hover i{
    color: #43617E;
}
</style>
