<template>
    <div class="page-container">
        <div class="page-title-bar">
            <h2>
                <i class="material-icons menu-icon">dashboard</i> Tableau de bord
            </h2>
        </div>
        <div class="page-content">
            <div class="start-section">
                <div class="buttons">
                    <VueButton
                        class="round primary"
                        icon-left="play_arrow"
                        @click="startScan"
                    >Start scan</VueButton>
                </div>
                <div class="progress">
                    <apexchart type="bar" height="70" :options="barOptions" :series="barSeries"/>
                </div>
            </div>
            <div class="feedback">
                <div class="console">
                    <div class="console-statistics">
                        <div class="header">
                            <h3><i class="material-icons">bar_chart</i> Statistics</h3>
                        </div>
                        <div class="content">
                            <p><i class="material-icons">schedule</i> Duration: {{secondLapse}} ms</p>
                            <p><i class="material-icons">list</i> Controls: {{ controlsCount * 2 }} / 10</p>
                            <p><i class="material-icons">bug_report</i> Vulnerabilities: {{ vulnerabilitiesCount }}</p>
                        </div>
                    </div>
                    <div class="console-controls">
                        <div class="header">
                            <h3><i class="material-icons">dvr</i> Informations</h3>
                        </div>
                        <div class="content">
                            <div class="log" v-for="(control, i) in controls" :key="i">
                                <div class="log__status log__status--yellow"></div>
                                <div class="log__label">CONTROL</div>
                                <div class="log__message">{{ control }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vulns">
                    <div class="header">
                        <h3><i class="material-icons">bug_report</i> Vulnerabilities</h3>
                    </div>
                    <div class="content">
                        <Vulnerability v-for="(vuln, i) in orderedVulnerabilities"
                            :key="i"
                            :title="vuln.title"
                            :description="vuln.description"
                            :risk="vuln.risk"
                            :url="vuln.url"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vulnerability from '../components/Vulnerability'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
    components: { Vulnerability },
    sockets: {
        connect: function() {
            console.log('socket connected')
        },
        authorize: function(data) {
            console.log('Authorize', data)
            window.open(data, 'Authorize', 'height=500,width=500')

            window.addEventListener('message', event => {
                const { name, url } = event.data
                if (name === 'oauth2Callback') {
                    this.$socket.emit('authorize', url)
                }
            })
        }
    },
    data: function() {
        return {
            series1: [
                {
                    data: [25, 66, 41, 59, 25, 44, 12, 36, 9, 21]
                }
            ],
            series2: [
                {
                    data: [12, 14, 2, 47, 32, 44, 14, 55, 41, 69]
                }
            ],
            chartOptions1: {
                chart: {
                    sparkline: {
                        enabled: true
                    },
                    dropShadow: {
                        enabled: true,
                        top: 1,
                        left: 1,
                        blur: 2,
                        opacity: 0.2
                    },
                    id: 'box-1',
                    group: 'social'
                },
                stroke: {
                    curve: 'smooth',
                    width: 3
                },
                markers: {
                    size: 0
                },
                grid: {
                    padding: {
                        top: 20,
                        bottom: 10,
                        left: 110
                    }
                },
                colors: ['#fff'],
                tooltip: {
                    x: {
                        show: false
                    },
                    y: {
                        title: {
                            formatter: function formatter() {
                                return ''
                            }
                        }
                    },
                    theme: 'dark'
                }
            },
            chartOptions2: {
                chart: {
                    sparkline: {
                        enabled: true
                    },
                    dropShadow: {
                        enabled: true,
                        top: 1,
                        left: 1,
                        blur: 2,
                        opacity: 0.2
                    },
                    id: 'box-1',
                    group: 'social'
                },
                stroke: {
                    curve: 'smooth',
                    width: 3
                },
                markers: {
                    size: 0
                },
                grid: {
                    padding: {
                        top: 20,
                        bottom: 10,
                        left: 110
                    }
                },
                colors: ['#fff'],
                tooltip: {
                    x: {
                        show: false
                    },
                    y: {
                        title: {
                            formatter: function formatter() {
                                return ''
                            }
                        }
                    },
                    theme: 'dark'
                }
            },
            barOptionsTemplate: {
                chart: {
                    foreColor: '#fff',
                    stacked: true,
                    sparkline: {
                        enabled: true
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        barHeight: '20%',
                        colors: {
                            backgroundBarColors: ['#40475D']
                        }
                    }
                },
                colors: ['#17ead9', '#FF416C'],
                stroke: {
                    width: 0
                },
                title: {
                    floating: true,
                    offsetX: -10,
                    offsetY: 5,
                    text: 'Scan progress'
                },
                subtitle: {
                    floating: true,
                    align: 'right',
                    offsetY: 0,
                    text: '80%',
                    style: {
                        fontSize: '20px'
                    }
                },
                tooltip: {
                    enabled: false
                },
                xaxis: {
                    categories: ['Scan progress']
                },
                yaxis: {
                    max: 100
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        inverseColors: false,
                        gradientToColors: ['#6078ea', '#FF4B2B']
                    }
                }
            }
        }
    },
    methods: {
        ...mapActions('scanner', ['startScan'])
    },
    computed: {
        ...mapGetters('vulnerabilities', {
            vulnerabilitiesCount: 'vulnerabilitiesCount'
        }),
        ...mapGetters('scanner', [
            'progressPercent',
            'errorPercent',
            'secondLapse',
            'controlsCount',
        ]),
        ...mapState({
            vulnerabilities: state => state.vulnerabilities.vulnerabilities,
            controls: state => state.scanner.controls,
        }),
        barSeries() {
            return [
                { data: [this.progressPercent] },
                { data: [this.errorPercent] }
            ]
        },
        barOptions() {
            return {
                ...this.barOptionsTemplate,
                subtitle: {
                    ...this.barOptionsTemplate.subtitle,
                    text:
                        (this.progressPercent + this.errorPercent).toString() +
                        '%'
                }
            }
        },
        orderedVulnerabilities() {
            return this.vulnerabilities.sort((a, b) => a.risk < b.risk)
        }
    }
}
</script>

<style scoped>
.page-content{
    display: flex;
    flex-direction: column;
}

.start-section {
    display: flex;
    margin: 10px 0 20px;
}

.start-section .buttons {
    flex-basis: 160px;
    margin-top: 17px;
    margin-left: 15px;
}

.start-section .progress {
    flex: 1;
}

/* ---- Sparkboxes ---- */

.flex-boxes{
    display: flex;
}

.box {
    flex: 1;
    margin: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px 1px #666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    position: relative;
    border-radius: 5px;
}

.box:first-child {
    margin-left: 0;
}

.box:last-child {
    margin-right: 0;
}

.box {
    padding: 25px 20px;
}

.box .timer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}

.box .details {
    position: absolute;
    color: #fff;
    /* transform: scale(0.7) translate(-22px, 20px); */
}

.box .details h3, .box .details h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.box .details h3{
    margin-top: 20px;
    font-size: 20px;
}

.box .details h4{
    margin-top: 0;
    font-size: 15px;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

strong {
    position: relative;
    z-index: 3;
    top: -8px;
    color: #fff;
}

.box1 {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.box2 {
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.box3 {
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.box4 {
    background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

/* ---- Feedback ---- */

.feedback {
    display: flex;
    flex: 1;
}

.console {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.console .header {
    background-color: #293b4d;
}

.console .content {
    flex: 1;
    padding: 20px;
    background-color: #2C3E50;
}

.console .content p {
    font-family: 'Open Sans', sans-serif;
    color: #b5bdc5;
}

.console-statistics, .console-controls {
    display: flex;
    flex-direction: column;
}

.console-statistics p {
    line-height: 20px;
}

.console-statistics p i {
    position: relative;
    top: 2px;
    right: 4px;
    font-size: 16px;
}

.console-controls {
    flex: 1;
    margin-top: 10px;
}

.log {
    margin: 6px 0;
}

.log__status, .log__label, .log__message {
    font-family: 'Open Sans', sans-serif;
    color: #b5bdc5;
    font-size: 15px;
}

.log__status {
    position: relative;
    top: 2px;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 15px;
}

.log__status--yellow {
    background-color: #FFD3A5;
}

.log__status--blue {
    background-color: #46B2FF;
}

.log__status--green {
    background-color: #2CF4E1;
}

.log__status--red {
    background-color: #FD6B87;
}

.log__label {
    display: inline-block;
    width: 160px;
}

.log__message {
    display: inline-block;
}

.header {
    padding: 9px 0 2px 14px;
}

.header h3, .header h3 i {
    font-size: 16px;
    color: #6A747E;
}

.header h3 i {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.vulns {
    overflow: hidden;
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.vulns .header {
    background-color: #293b4d;
}

.vulns .content{
    flex: 1;
    background-color: #2C3E50;
    padding: 20px;
}

</style>
