<template>
<div class="page-container">
    <div class="page-title-bar">
        <h2><i class="material-icons menu-icon">bug_report</i> Vulnérabilités</h2>
    </div>
    <div class="page-content">
        <div class="vulnerabilities">
            <Vulnerability v-for="(vuln, i) in orderedVulnerabilities"
                :key="i"
                :title="vuln.title"
                :description="vuln.description"
                :risk="vuln.risk"
                :url="vuln.url"
            />
        </div>
    </div>
</div>
</template>

<script>
import Vulnerability from '../components/Vulnerability'
import { mapState } from 'vuex'

export default {
    components: { Vulnerability },
    computed: {
        ...mapState({
            vulnerabilities: state => state.vulnerabilities.vulnerabilities
        }),
        orderedVulnerabilities() {
            return this.vulnerabilities.sort((a, b) => a.risk < b.risk)
        }
    }
}
</script>


<style scoped>
.vulnerabilities{
    display: flex;
    flex-direction: column;
    flex: 1;
}
</style>
