<template>
    <div class="status-bar">
        <div class="status-bar__item status-bar__item--icon">
            <i class="material-icons">home</i>
        </div>
        <div class="status-bar__item status-bar__item--icon-text">
            <i class="material-icons">folder</i>
            Untitled
        </div>
        <div class="status-bar__item status-bar__item--icon-text flex-1">
            <i class="material-icons">dvr</i>
            Configure the scanner in Configuration before running a scan
        </div>
        <div class="status-bar__item status-bar__item--timer">{{ secondLapse }} ms</div>
        <div class="status-bar__item status-bar__item--icon-text">
            <i class="material-icons">list</i>
            Test {{ controlsCount * 2 }} / 10
        </div>
        <div class="status-bar__item status-bar__item--text-icon">
            {{ vulnerabilitiesCount }}
            <i class="material-icons">bug_report</i>
        </div>
        <div class="status-bar__item status-bar__item--icon">
            <div class="lds-dual-ring status-bar__spinner"></div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters('vulnerabilities', {
            vulnerabilitiesCount: 'vulnerabilitiesCount'
        }),
        ...mapGetters('scanner', [
            'secondLapse',
            'controlsCount',
        ]),
    }
}
</script>


<style scoped>
.status-bar {
    display: flex;
    flex-basis: 28px;
    background-color: #42b983;
}

.status-bar__item {
    padding: 0 8px;
    color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: 11px;
    line-height: 28px;
}

.status-bar__item:hover {
    background-color: #3ba776;
}

.status-bar__item--text-icon {
    padding-left: 11px;
}

.status-bar__item--icon-text i,
.status-bar__item--text-icon i {
    position: relative;
    top: 5px;
    font-size: 18px;
    color: #2c3e50;
}

.status-bar__item--icon-text i {
    margin-right: 6px;
}

.status-bar__item--icon {
    width: 30px;
}

.status-bar__item--icon i {
    position: relative;
    top: 5px;
    left: -2px;
    font-size: 18px;
    color: #2c3e50;
}

.status-bar__item--timer {
    color: #337262;
}

/* ---- Temporary Status Bar Spinner ---- */

.lds-dual-ring {
    position: relative;
    top: 2px;
    right: 4px;
    display: inline-block;
    width: 14px;
    height: 14px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    border-color: #2c3e50 transparent #2c3e50 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
