<template>
<div id="app" class="super-container">
    <div class="main-container">
        <div class="project-bar">
            <div class="project-bar__icon">
                <img src="./assets/logo.svg" alt="OAnt">
            </div>
            <nav class="project-bar__menu">
                <ul>
                    <router-link tag="li" to="/">
                        <i class="material-icons menu-icon">dashboard</i>
                        <span class="menu-title">Dashboard</span>
                    </router-link>
                    <router-link tag="li" to="/config">
                        <i class="material-icons menu-icon">settings_applications</i>
                        <span class="menu-title">Configuration</span>
                    </router-link>
                    <router-link tag="li" to="/vulns">
                        <i class="material-icons menu-icon">bug_report</i>
                        <span class="menu-title">Results</span>
                    </router-link>
                    <a href="https://blog.cyberoauth.tk/"><li>
                        <i class="material-icons menu-icon">info</i>
                        <span class="menu-title">About</span>
                    </li></a>
                </ul>
            </nav>
        </div>
        <div class="page-container">
            <div class="alert-box" v-if="!connected">Disconnected</div>
            <router-view/>
        </div>
    </div>
    <StatusBar/>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import StatusBar from './components/StatusBar'

export default {
    components: { StatusBar },
        computed: {
        ...mapGetters('scanner', ['connected'])
    }
}
</script>


<style>
/* ---- Common ---- */

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

.flex-1{
    flex: 1;
}

/* ---- Container ---- */

.super-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container{
    overflow: hidden;
    display: flex;
    flex: 1;

}

.page-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ---- Project bar ---- */

.project-bar{
    display: flex;
    flex-direction: column;
    flex-basis: 240px;
    background-color: #1D2935;
}

.project-bar__icon img{
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 14px 0 22px;
}

.project-bar__menu ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.project-bar__menu li{
    height: 50px;
    padding-left: 14px;
    cursor: pointer;
}

.project-bar__menu li:hover{
    background-color: #4E6E8E;
}

.project-bar__menu li.active{
    position: relative;
    background-color: #1F3139;
}
.project-bar__menu li.active::before{
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    left: 5px;
    top: 22px;
    border-radius: 50%;
    background-color: #42B983;
}
.project-bar__menu li.active .menu-icon, .project-bar__menu li.active .menu-title{
    color: #42B983;
}

.project-bar__menu li .menu-icon{
    line-height: 50px;
}

.project-bar__menu li .menu-title{
    display: inline-block;
    position: relative;
    margin-left: 7px;
    top: -5px;
}

.page-title-bar{
    flex-basis: 64px;
    padding-left: 26px;
    background-color: #344A5F;
    line-height: 64px;
}

.page-title-bar h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 300;
}

.page-title-bar h2 i{
    position: relative;
    top: 2px;
    padding-right: 3px;
}

.page-content{
    overflow-y: scroll;
    flex: 1;
    padding: 20px;
    background-color: #304457;
}

/* ---- Alert message ---- */
.alert-box {
    background: linear-gradient(to right, #c0392b, #d6632e);
    color: white;
    text-align: center;
    padding: 0.5em;
}

</style>
